[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
bs4 = "*"
requests = "*"
selenium-wire = "*"
selenium = "*"
sanic = {extras = ["ext"], version = "*"}
dataclass-wizard = "*"

[dev-packages]

[requires]
python_version = "3.11"
